<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{view.title}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/" class = (view.route === "/" ? 'active' : '')) Shop
                    li.main-header__item
                        a(href="/products" class = (view.route === "/products" ? 'active' : '')) Products
                    li.main-header__item
                        a(href="/chart" class = (view.route === "/chart" ? 'active' : '')) Chart
                    li.main-header__item
                        a(href="/admin/products" class = (view.route === "/admin/products" ? 'active' : '')) [Admin] Products
                    li.main-header__item
                        a(href="/admin/add-product" class = (view.route === "/admin/add-product" ? 'active' : '')) [Admin] Add Product
                    li.main-header__item
                        a(href="/admin/edit-product" class = (view.route === "/admin/edit-product" ? 'active' : '')) [Admin] Edit Product
                    li.main-header__item
                        a(href="/admin/delete-product" class = (view.route === "/admin/delete-product" ? 'active' : '')) [Admin] Delete Product
        main
            block content