<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{view.title}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        .backdrop
        header.main-header
            button(id="side-menu-toggle") Menu
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/" class = (view.route === "/" ? 'active' : '')) Shop
                    li.main-header__item
                        a(href="/products" class = (view.route === "/products" ? 'active' : '')) Products
                    li.main-header__item
                        a(href="/cart" class = (view.route === "/cart" ? 'active' : '')) Cart
                    li.main-header__item
                        a(href="/orders" class = (view.route === "/orders" ? 'active' : '')) Orders
                    li.main-header__item
                        a(href="/auth/products" class = (view.route === "/auth/products" ? 'active' : '')) Your Products
                    li.main-header__item
                        a(href="/auth/editor" class = (view.route === "/auth/editor" ? 'active' : '')) Add Product
        .mobile-nav
            .mobile-nav__item-list
                li.main-header__item
                    a(href="/" class = (view.route === "/" ? 'active' : '')) Shop
                li.main-header__item
                    a(href="/products" class = (view.route === "/products" ? 'active' : '')) Products
                li.main-header__item
                    a(href="/cart" class = (view.route === "/cart" ? 'active' : '')) Cart
                li.main-header__item
                    a(href="/orders" class = (view.route === "/orders" ? 'active' : '')) Orders
                li.main-header__item
                    a(href="/auth/products" class = (view.route === "/auth/products" ? 'active' : '')) Your Products
                li.main-header__item
                    a(href="/auth/editor" class = (view.route === "/auth/editor" ? 'active' : '')) Add Product
        main
            block content
        script(src="/js/main.js")