extends ../../layouts/main.pug

block styles
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    form(action="/auth/add-product" method="post" class="product-form")
        .form-control
            label(for="title") Title
            input(type="text" name="title" id="title")
        .form-control
            label(for="price") Price
            input(type="number" name="price" id="price" step="0.01")
        .form-control
            label(for="imageUrl") Image Url
            input(type="text" name="imageUrl" id="imageUrl")
        .form-control
            label(for="description") Description
            textarea(name="description" id="description" rows="5")
        button(type="submit" class="btn") Add Product