extends ../../layouts/main.pug

block styles
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/product.css")


block content
    main
        if cartList.length > 0
            h2 Total : $#{total}
            .grid
                each cartItem in cartList
                    article.card.product-item
                        header.card__header
                            h2.product__title Product #{cartItem.product.title}
                            h2.product__title Quantity #{cartItem.quantity}
                        .card__image
                            img(src= cartItem.product.imageUrl, alt="")
                        .card__content
                            h2.product__price Total: $#{cartItem.product.price*cartItem.quantity}
                        .card__actions
                            form(action="/cart", method="POST")
                                button.btn -
                                input(type="hidden" name="productId" value= cartItem.product.id)
                                input(type="hidden" name="remove" value= true)
                            form(action="/cart", method="POST")
                                button.btn +
                                input(type="hidden" name="productId" value= cartItem.product.id)
        else
            p Cart is Empty.